@model GetRecsViewModel
@using AnimeRecs.RecService.ClientLib;
@using AnimeRecs.RecEngine;
@using AnimeRecs.RecEngine.MAL;
@using System.Collections.Generic;
@using MalApi;
@using System.Linq;
@{
    MalRecResults<MalAnimeRecsResults> results = Model.Results.CastRecs<MalAnimeRecsResults>();
    HashSet<int> animeIdsShown = new HashSet<int>(results.Results.Select(rec => rec.ItemId));
    animeIdsShown.UnionWith(Model.AnimeWithheld.Keys);
    await Model.DeclareAnimeToBeDisplayedAsync(animeIdsShown).ConfigureAwait(false);
}

@if (Model.AnimeWithheld.Count > 0)
{
    Dictionary<int, MyAnimeListEntry> animeInUsersList = new Dictionary<int, MyAnimeListEntry>();
    foreach (MyAnimeListEntry entry in Model.UserLookup.AnimeList)
    {
        animeInUsersList[entry.AnimeInfo.AnimeId] = entry;
    }

    List<int> animeWithheld = Model.AnimeWithheld.Keys
        .OrderByDescending(animeId => Model.AnimeWithheld[animeId].Rating ?? 0)
        .ThenBy(animeId => animeInUsersList[animeId].AnimeInfo.Title)
        .ToList();

    Dictionary<int, int> rankInRecListByAnimeId = new Dictionary<int, int>();
    int rank = 1;
    foreach (int animeId in Model.Results.Results.Select(rec => rec.ItemId))
    {
        rankInRecListByAnimeId[animeId] = rank;
        rank++;
    }


    <table class="recsTable">
        <thead>
            <tr>
                <td>
                    Streams
                </td>
                <td>
                    Anime withheld
                </td>
                <td>
                    Type
                </td>
                <td>
                    Status
                </td>
                <td>
                    Actual rating
                </td>
                <td>
                    Rank in recommendations
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (int animeId in animeWithheld)
            {
                <tr>
                    <td>
                        @HtmlHelpers.GetStreamLinksHtml(animeId, Model, Url)
                    </td>
                    <td>
                        @HtmlHelpers.GetWithheldMalAnimeHtml(animeId, animeInUsersList[animeId].AnimeInfo.Title)
                    </td>
                    <td>
                        @HtmlHelpers.MalAnimeTypeAsString(animeInUsersList[animeId].AnimeInfo.Type)
                    </td>
                    <td>
                        @HtmlHelpers.MalAnimeStatusAsString(animeInUsersList[animeId].Status)
                    </td>
                    <td>
                        @HtmlHelpers.GetMalRatingString(animeInUsersList[animeId].Score)
                    </td>
                    <td>
                        @if (rankInRecListByAnimeId.ContainsKey(animeId))
                        {
                            <text>@rankInRecListByAnimeId[animeId]</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<table class="recsTable">
    <thead>
        <tr>
            <td>
                Streams
            </td>
            <td>
                Anime
            </td>
            <td>
                Type
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (IRecommendation rec in results.Results.Take(Model.MaximumRecommendationsToReturn))
        {
            <tr>
                <td>
                    @HtmlHelpers.GetStreamLinksHtml(rec.ItemId, Model, Url)
                </td>
                <td>
                    @HtmlHelpers.GetRecommendedMalAnimeHtml(rec.ItemId, Model)
                </td>
                <td>
                    @HtmlHelpers.MalAnimeTypeAsString(Model.Results.AnimeInfo[rec.ItemId].Type)
                </td>
            </tr>
        }
    </tbody>
</table>
