@using AnimeRecs.RecService.ClientLib
@using AnimeRecs.RecEngine
@using AnimeRecs.Web
@using AnimeRecs.Web.Models.ViewModels
@using MalApi
@model GetRecsViewModel
           
@{
    HashSet<int> animeIdsShown = new HashSet<int>(Model.Results.Results.Select(rec => rec.ItemId));
    animeIdsShown.UnionWith(Model.AnimeWithheld.Keys);
    Model.DeclareAnimeToBeDisplayed(animeIdsShown);
}

@if (Model.AnimeWithheld.Count > 0)
{
    Dictionary<int, MyAnimeListEntry> animeInUsersList = new Dictionary<int, MyAnimeListEntry>();
    foreach(MyAnimeListEntry entry in Model.UserLookup.AnimeList)
    {
        animeInUsersList[entry.AnimeInfo.AnimeId] = entry;  
    }

    List<int> animeWithheld = Model.AnimeWithheld.Keys
        .OrderByDescending(animeId => Model.AnimeWithheld[animeId].Rating ?? 0)
        .ThenBy(animeId => animeInUsersList[animeId].AnimeInfo.Title)
        .ToList();

    Dictionary<int, int> rankInRecListByAnimeId = new Dictionary<int, int>();
    int rank = 1;
    foreach (int animeId in Model.Results.Results.Select(rec => rec.ItemId))
    {
        rankInRecListByAnimeId[animeId] = rank;
        rank++;
    }
    
    
    <table class="recsTable">
        <thead>
            <tr>
                <td>
                    Streams
                </td>
                <td>
                    Anime withheld
                </td>
                <td>
                    Type
                </td>
                <td>
                    Status
                </td>
                <td>
                    Actual rating
                </td>
                <td>
                    Rank in recommendations
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (int animeId in animeWithheld)
            {
                <tr>
                    <td>
                        @Html.GetStreamLinksHtml(animeId, Model, Url)
                    </td>
                    <td>
                        @Html.GetWithheldMalAnimeHtml(animeId, animeInUsersList[animeId].AnimeInfo.Title)
                    </td>
                    <td>
                        @Html.MalAnimeTypeAsString(animeInUsersList[animeId].AnimeInfo.Type)
                    </td>
                    <td>
                        @Html.MalAnimeStatusAsString(animeInUsersList[animeId].Status)
                    </td>
                    <td>
                        @Html.GetMalRatingString(animeInUsersList[animeId].Score)
                    </td>
                    <td>
                        @if (rankInRecListByAnimeId.ContainsKey(animeId))
                        {
                            <text>@rankInRecListByAnimeId[animeId]</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<table class="recsTable">
    <thead>
        <tr>
            <td>
                Streams
            </td>
            <td>
                Anime
            </td>
            <td>
                Type
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (IRecommendation rec in Model.Results.Results.Take(AppGlobals.Config.MaximumRecommendationsToReturn))
        {
            <tr>
                <td>
                    @Html.GetStreamLinksHtml(rec.ItemId, Model, Url)
                </td>
                <td>
                    @Html.GetRecommendedMalAnimeHtml(rec.ItemId, Model)
                </td>
                <td>
                    @Html.MalAnimeTypeAsString(Model.Results.AnimeInfo[rec.ItemId].Type)
                </td>
            </tr>
        }
    </tbody>
</table>

@*
Copyright (C) 2012 Greg Najda

This file is part of AnimeRecs.Web.

AnimeRecs.Web is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

AnimeRecs.Web is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with AnimeRecs.Web.  If not, see <http://www.gnu.org/licenses/>.
*@