@using System.Globalization;
@using AnimeRecs.Models;
@using AnimeRecs;
@using AnimeRecs.Common;
@using System.Configuration;
@model AnimeRecs.Models.RecommendationResults
@if (Model.BestMatches.Count == 0)
{
    <text>
    <hr />
    <div class="notenoughrated">
        Sorry, no recommendors were found that have recommended any anime that you have completed and rated.
    </div>
    </text>
}
else
{
    <text> Your best matches are
    <ol class="matchList">
        @foreach (RecommendorMatch recommendor in Model.BestMatches)
        {
            string percentLiked = (recommendor.PercentLiked / 100m).ToString("P");
            string lowerBound = (recommendor.LowerBound / 100m).ToString("P");
            string upperBound = (recommendor.UpperBound / 100m).ToString("P");
            
            <li>
                <div class="userhead">
                    <a href="@Html.Raw(recommendor.Recommendor.GetMalListUri())" class="recommendor">@recommendor.Recommendor.Name</a>'s
                    recommendations <span class="compatibilityRating">(@recommendor.NumRecsLiked/@recommendor.NumRecsConsidered @percentLiked recs liked, @lowerBound - @upperBound estimated compatibility)</span>
                </div>
                <table class="recsTable">
                    <thead>
                        <tr>
                            <td>
                                Anime
                            </td>
                            <td>
                                Status
                            </td>
                            <td>
                                Their Rating
                            </td>
                            <td>
                                Your Rating
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (RecommendedAnimeJson anime in recommendor.Recommendor.GetSortedRecommendations(Model))
                        {
                            <tr>
                                <td>
                                    <a href="@Html.Raw(anime.MalUrl)" class="recommendation">@anime.Name</a>
                                </td>
                                <td>@Model.GetStatusString(anime.MalId)
                                </td>
                                <td>@(anime.Rating != null ? anime.Rating.Value.ToString(CultureInfo.InvariantCulture) : "-")
                                </td>
                                <td>@Model.GetMyScoreString(anime.MalId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
    </ol>
    </text>
}