@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using AnimeRecs.Web;
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Get anime recommendations based on your myanimelist.net profile">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">*@
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="@Url.Content("~/Scripts/libs/jquery-1.11.2.min.js")"><\/script>')</script>
    @* Bootstrap fallback from CDN to local *@
    <script>
    $(document).ready(function () {
        var bodyColor = $('body').css('color');
        if (bodyColor != 'rgb(51, 51, 51)') {
            $("head").prepend('<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">');
        }
    });
    @* TODO: FontAwesome fallback *@
    </script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">$.fn.modal || document.write('<script src="@Url.Content("~/Scripts/libs/bootstrap.min.js")"><\/script>')</script>
    @Html.Raw(AppGlobals.Config.HtmlBeforeBodyEnd)
</body>
</html>

@*
    Copyright (C) 2014 Greg Najda

    This file is part of AnimeRecs.Web.

    AnimeRecs.Web is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    AnimeRecs.Web is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with AnimeRecs.Web.  If not, see <http://www.gnu.org/licenses/>.
*@